* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;

  #background {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    min-width: 100%;
  }

  #app {
    max-width: 100%;
    min-width: 320px;
    width: 700px;
    margin: 0 auto;
    padding: 4rem 1rem;
    position: relative;
  }

}

/* ANIMATIONS */
.slide-fade-enter-active {
  transition: all 1s ease;
}
.slide-fade-leave-active {
  transition: all 1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
